/* This is for heading links */
.post h2 .icon-link,
.post h3 .icon-link,
.post h4 .icon-link,
.post h5 .icon-link,
.post h6 .icon-link {
	position: relative;
}
.post h2 .icon-link::before,
.post h3 .icon-link::before,
.post h4 .icon-link::before,
.post h5 .icon-link::before,
.post h6 .icon-link::before {
	content: '#';
	position: absolute;
	left: -1.5ch;
	top: 0;
	line-height: 1;
	opacity: 0.4;
	color: white;
}

.post h2 .icon-link:hover::before,
.post h3 .icon-link:hover::before,
.post h4 .icon-link:hover::before,
.post h5 .icon-link:hover::before,
.post h6 .icon-link:hover::before {
	opacity: 1;
	cursor: pointer;
	text-decoration: underline;
}

.post h2 .icon-link:hover::after,
.post h3 .icon-link:hover::after,
.post h4 .icon-link:hover::after,
.post h5 .icon-link:hover::after,
.post h6 .icon-link:hover::after {
	content: 'Click to copy link';
	font-size: 0.75rem;
	position: absolute;
	top: -1.5rem;
	height: 1rem;
	background-color: white;
	color: black;
	white-space: nowrap;
	padding: 0.15rem 0.35rem;
}
